# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  pull_request:
    branches: [ "main" ]
  workflow_run:
    workflows: ['Update go.sum']
    types: [completed]
    branches: [main]

jobs:
  ci-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.21', '1.22', '1.23', '1.24', '1.25', '1.x' ]
    name: Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v4
      - name: Use go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - run: go build .
      - run: go test -v
